{{ attach_library('dcla/sponsor') }}
{{ attach_library('dcla/social-icons') }}

<article class="sponsor {{ modifier_class }} {{ classes|default('') }}">
  <div class="sponsor__media">
    <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>
  <div class="sponsor__text">
    {# Includes eyebrow components #}
    {%
      include '@dcla/eyebrow/eyebrow.twig' with {
        'eyebrow': eyebrow,
      } only
    %}

    <h2 class="sponsor__heading">{{ heading }}</h2>
    <div class="sponsor__body">
      <p>{{ body|raw }}</p>
    </div>

    {# Includes social icons components #}
    {%
      include '@dcla/social-icons/social-icons.twig' with {
        'items': items,
      } only
    %}
  </div>
</article>
