{% import '@dcla/icons/icons.twig' as icons %}
{{ attach_library('dcla/card') }}
<article class="card {{ modifier_class }}">
  <div class="card__media">
    {{ image }}
  </div>
  <div class="card__text">
    <div class="card__eyebrow">{{ eyebrow }}</div>
    <h2 class="card__heading">{{ heading }}</h2>
    <p>{{ body }}</p>

    {% if items %}
      <ul class="card__social-items">
        {% for item in items %}
          <li class="card__social--item">
            <a href="{{ item.url }}" class="card__social--link">
              {{ icons.get(item.icon, 'card__icon') }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</article>
